body{
    background-color: #ecf0f1;
    
}
h1{
    color: #34495e;
    transition: color 0.5s ease-in-out;
}

.btn{
    cursor: pointer;
}

.form,
.greetings{
    display: none;
}

.showing{
    display: block ;
}
.clicked{
    color: #fd79a8;
}

